*{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;
    height: 100px;
    background: #ffffff;
    border-bottom: 1px solid #cacaca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo{
    margin: 20px;
}

.line1{
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #252f7b;
}

.line1:hover{
    color: #f95031;
}

.navy{
    display: flex;
    flex-wrap: wrap;
}

.line{
    font-size: 20px;
    text-decoration: none;
}

.acc{
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    color: #252f7b;
}

.acc:hover{
    color: #f95031;
}

/* BODY */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #eff0f5;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.table{
    width: 100%;
    background-color: #fff;
    padding: 16px 16px 16px 24px;
    margin-bottom: 200px;
    border: 1px solid #cacaca;
}

.container h1{
    margin-top: 64px;
    margin-bottom: 32px;
}

th{
    padding: 10px 0;
    border-bottom: 2px solid #eff0f5;
}

td{
    padding: 10px 0 16px 16px;
}

#thhID1 {
    position: relative;
    bottom: 2px;
}

#thhID2 {
    position: relative;
    bottom: 2px;
}

#thhID3 {
    position: relative;
    bottom: 2px;
}

#thhID4 {
    position: relative;
    bottom: 2px;
}

#thhID5 {
    position: relative;
    bottom: 2px;
}

#thhID1:hover {
    background: #ececec;
}

#thhID2:hover {
    background: #ececec;
}

#thhID3:hover {
    background: #ececec;
}

#thhID4:hover {
    background: #ececec;
}

#thhID5:hover {
    background: #ececec;
}

#placed {
    position: relative;
    right: 2px;
}
    
    
#items {
    position: relative;
    right: 4px;
}
    
#quantity {
    position: relative;
    right: 6px;
}
    
#total {
    position: relative;
    right: 8px;
}

#none{
    position: relative;
    right: 10px;
}

#none a{
    text-decoration: none;
    color: blue;
}

#none a:hover{
    color: #f95031;
}

#bottom1{
    position: relative;
    right: 2px;
}
#bottom2{
    position: relative;
    right: 4px;
}
#bottom3{
    position: relative;
    right: 6px;
    color: transparent;
}

#total2{
    position: relative;
    right: 10px;
}
/* FOOTER */
.footer{
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 999;
    background-color: #ffffff;
    bottom: 0;
    border-top: 1px solid #cacaca;
}

/* media */

@media screen and (max-width:700px) {
    #order{
        display: none;
    }

    #order1{
        display: none;
    }

    .bottom4{
        color: transparent;
    }

    #bottom3{
        color: black;
    }
}

@media screen and (max-width: 780px){
    #placed{
        display: none;
    }

    #bottom1{
        display: none;
    }

}


@media  screen and (max-width: 1275px) {
    .navbar{
    height: 100%;
    display: flex;
    flex-direction: column;
}
        
.navy{
    padding-bottom: 1.5rem;
}
        
.account{
    padding: 0;
    padding-bottom: 0.9rem;
}
    
.box{
    margin-bottom: 150px;

}
}


